Results/
datasets/
saved_images/
__pycache__/model1_multi_cpu.cpython-313.pyc
__pycache__/export_velocity_report.cpython-313.pyc
weights/
weights_new/
.venv/
weights_new/weights/weights0yg.pt
weights_new/weights/weights0xg.pt
__pycache__/model1_multi_cuda.cpython-312.pyc
__pycache__/export_velocity_report.cpython-312.pyc
divtrainlearning_ratemodel1multi_5.6174e-06.npz
div2valtrain.npz
